/* Main layout ------------------------------    */
div.Main {
  margin: auto;
  width: 1000px;
  background-color: white;
}

div.Head {
  background-color: White;
  background-image: url('../Imgs/Header.png');
  background-repeat: no-repeat;
  height: 317px;
  text-align:center;  
  padding-top:5px;
}

div.MainContent {
  float: right;
  width: 861px;
  margin-bottom: 7px;  
}

div.Menu {
  margin-top: 0px;
  width: 139px;
  float: left;
}

div.ContentTop {
  background-image: url('../Imgs/ContentTopRoundCornes.png');
  background-repeat: no-repeat;
  height: 14px;
}

div.ContentMiddle {
  background-image: url('../Imgs/ContentMiddle.png');
  background-repeat: repeat-y;
  padding: 5px 40px 7px 30px;
}

div.ContentBottom {
  background-image: url('../Imgs/ContentBottomRoundCornes.png');
  background-repeat: no-repeat;
  height: 17px;
}

div.Footer {
  height: 37px;
  background-image: url('../Imgs/Footer.png');
  background-color: White;
  background-repeat: no-repeat;
  clear: both;
  padding: 0px 30px 0px 30px;
}

div.BradCrumbsDiv {
  margin: 2px 0 6px 0px;
}

.BradCrumb {
  background-image: url('../Imgs/BreadCrumb.png');
  background-repeat: no-repeat;
  height: 23px;
  width: 135px;
  font-family: Arial;
  font-size: 0.9em;
  padding: 0px 0px 3px 10px;
}

/* Menu -------------------------------- */
ul.Menu {
  list-style: none;
  margin-top: -10px;
}

ul.Menu li.MenuNode {
  background-image: url('../Imgs/ButtonRed.png');
  background-repeat: no-repeat;
  height: 41px;
  width: 166px;
  margin: 0px 0px -5px -40px;
  padding: 7px 0px 0px 10px;
}

ul.Menu li.MenuNodeActive {
  background-image: url('../Imgs/ButtonActiveAllWidthOrange.png');
  background-repeat: no-repeat;
  height: 69px;
  width: 166px;
  margin: -22px 0px -33px -42px;
  padding: 24px 0px 0px 10px;
}

ul.Menu li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-family: Tekton Pro;  
}

ul.Menu li.MenuNodeActive a {
  text-decoration: underline;
}

div.Menu h3 {
  text-align: center;
  margin-left: -5px;
  font-size: 1.2em;
  color: #A54A0C;
  font-family: Tempus Sans ITC;
}

.BradCrumb a:link {
  text-decoration: none;  
}

.BradCrumb a:link {
  text-decoration: none;
}

a:visited {
	text-decoration: none;
}

/* General design --------------------------- */
.logo {
  width: 108px;
  margin-left: 20px;
  height: 70px;
}

.pictures1 {
  width: 600px;
  height: 450px;
}

.pictures2 {
  width: 600px;
  height: 800px;
}

.pictures3 {
  width: 600px;
  height: 338px;
}

.picturepar {
  text-align: center;
}

/* Headings & Text ---------------------------- */
h1 {
  color:#A54A0C;
  font-size: 2em;
  margin: 0px 0px 10px 25px;
  font-family: Tekton Pro;
}

h2 {
  color: #C6692A;
  font-size: 1.5em;
  margin: 0px 0px 10px 35px;
  font-family: Tekton Pro;
}

h3 {
  font-size: 1.1em;  
  color: #CE7C45;
  margin: 0px 0px 10px 55px;
  font-family: Segoe Print;
}

p {
  font-family: Bell MT;
  color: #353535;
  text-align:justify;
}

div.Footer p {
  color: #4C4C4C;
  font-size: 0.9em;
  font-family: Arial;
  display: inline;  
  float:left;
}

div.Footer p.Right {
  text-align:right;
  float:right;  
}

a:link {
  color: #F28E0A;  
}

a:visited {
  color: #A56004;
}
